
.article_l_main {
    padding: 0 16px 16px;
    margin-top: -80px;
    z-index: 10;
    overflow: auto;
}
.body-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.articles_l_main {
    max-width: 860px;
    margin-top: -8rem;
    width: fit-content;
    z-index: 10;
}
.l_body {
    position: relative;
    margin: 16px 16px 0 16px;
    min-height: calc(100vh - 70vh);
}
.l_main .post-list {
    position: relative;
    margin: 16px auto;
    -webkit-column-gap: 16px;
    -moz-column-gap: 16px;
    column-gap: 16px;
}
.l_main .post-wrapper {
    margin-bottom: 16px;
}
.l_main .post-wrapper {
    -webkit-column-break-inside: avoid;
    break-inside: avoid-column;
}
.l_main .post {
    position: relative;
    margin: 16px auto;
    padding: 24px;
    border-radius: 12px;
}
.white-box {
    background: #fff;
}
.shadow {
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}
.shadow:hover {
    -webkit-box-shadow: 1px 1px 7px 7px rgba(0,0,0,0.1);
    box-shadow: 1px 1px 7px 7px rgba(0,0,0,0.1);
}
.l_main .post-wrapper .post .meta {
    margin-bottom: 16px;
}
.l_main .post .meta {
    color: rgba(68,68,68,0.65);
}
.l_main .post .meta#header-meta {
    margin-top: 0;
    margin-bottom: 16px;
}
.l_main .post-wrapper .post .meta .title {
    font-size: 1.375rem;
}
.l_main .post .meta .title {
    transition: all .1s ease;
    -moz-transition: all .1s ease;
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    margin: 0;
}
.l_main .post-wrapper .post .meta .title a {
    font-size: 1.375rem;
}
.l_main .post .meta .title a {
    display: inline;
    font-weight: 400;
    color: #444;
    text-decoration: none;
}
.l_main .post .meta .new-meta-box, .l_main .post .meta .new-meta-box i, .l_main .post .meta .new-meta-box p {
    font-size: .875rem;
}
.l_main .post .meta .new-meta-box {
    width: 700px;
    transition: all .1s ease;
    -moz-transition: all .1s ease;
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    padding-top: 4px;
    padding-bottom: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.l_main .post .meta .new-meta-box .new-meta-item {
    color: rgba(68,68,68,0.65);
    line-height: 1.2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2px;
    margin: 0 8px 0 0;
    border-radius: 4px;
}
.l_main .post .meta .new-meta-box .new-meta-item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.l_main .post .meta .new-meta-box .new-meta-item a, .l_main .post .meta .new-meta-box .new-meta-item p {
    color: rgba(68,68,68,0.65);
    padding-left: 0;
    padding-right: 4px;
}
.l_main .post .meta .new-meta-box .new-meta-item a img {
    height: 1.2em;
    width: 1.2em;
    margin-right: 5px;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
}
.l_main .post .meta .new-meta-box .author i, .l_main .post .meta .new-meta-box .author img {
    border-radius: 100%;
}
.l_main .post .meta .new-meta-box .new-meta-item a p {
    margin: 0;
    padding-top: 2px;
    font-weight: 400;
    transition: all .28s ease;
    -moz-transition: all .28s ease;
    -webkit-transition: all .28s ease;
    -o-transition: all .28s ease;
}
.l_main .post .meta .new-meta-box .new-meta-item a, .l_main .post .meta .new-meta-box .new-meta-item p {
    color: rgba(68,68,68,0.65);
    padding-left: 0;
    padding-right: 4px;
}
.l_main .post .meta .new-meta-box .new-meta-item .notlink {
    cursor: default;
}
.article p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
    max-width: 100%;
    overflow: auto;
}
.l_main .post a img {
    display: inline;
}
.article div>img, .article p>img {
    display: block;
    margin: auto;
    border-radius: 5px;
}
.article img {
    position: relative;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
}
.article p>img:hover {
    transform: scale(1.05);
}
.article p {
    border-radius: 5px;
    overflow-x:hidden; overflow-y:hidden;
}
.articles-list {
    max-height: 20rem;
}
.blog-background {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.back-top {
    right: 40px;
    bottom: 40px;
    position: fixed;
    background-color: #FFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 20px;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.12);
    box-shadow: 0 0 6px rgba(0,0,0,.12);
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    cursor: pointer;
    z-index: 105;
}

.article-body {
    padding: 20px 35px;
    border-radius: 0.5rem;
    background-color: #ffffff;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0px 2px 12px 0px;
    box-shadow: rgba(0,0,0,0.1) 0px 2px 12px 0px;
}
.vditor-reset {
    color: #24292e;
    -webkit-font-variant-ligatures: no-common-ligatures;
    font-variant-ligatures: no-common-ligatures;
    font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans","Hiragino Sans GB","Microsoft Yahei",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Noto Color Emoji","Segoe UI Symbol","Android Emoji","EmojiSymbols";
    word-wrap: break-word;
    overflow: auto;
    line-height: 1.5;
    font-size: 16px;
    word-break: break-word;
}

.affix {
    position: fixed!important;
    top: 0px;
    width: 240px;
}

#laypage {
    text-align: center;
}
.right-bj {
    -webkit-transition: all .5s;
    transition: all .5s;
    width: 285px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.slimScrollDiv {
    border-right: 1px solid #e8e8e8;
    -webkit-transition: all .5s;
    transition: all .5s;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0 2px 12px 0;
    box-shadow: rgba(0,0,0,0.1) 0 2px 12px 0;
    width: 285px;
    margin-top: 67px;
    overflow: auto;
    float: right;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.slimScrollDiv>.right-menu {
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.slimScrollDiv>.right-menu>div {
    display: block;
    border-bottom: 1px dashed #cccccc;
}
.slimScrollDiv>.right-menu>.toc-content {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    -webkit-box-shadow: 0px -14px 20px #000;
    box-shadow: 0px -14px 20px #000;
    -webkit-backdrop-filter: saturate(360%) blur(8px);
    backdrop-filter: saturate(360%) blur(8px);
    background-color: rgba(255,255,255,0.72);
}
.slimScrollDiv>.right-menu>.toc-content>.toc-header {
    padding: calc(11px - 2px);
    color: #2196f3;
    font-size: 1rem;
}
.slimScrollDiv>.right-menu>.toc-content>.toc-header span {
    margin-left: 10px;
}
.slimScrollDiv>.right-menu.right-menu>div.titleList {
    position: relative;
}
.right-menu>div.titleList li {
    margin-bottom: 4px;
    cursor: pointer;
    padding-right: 16px;
    font-weight: normal;
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 20px;
    position: relative;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.h-1 {
    padding-left: 10px;
    font-size: 1.125rem;
}
.h-2 {
    padding-left: 20px;
    font-size: 1.1rem;
}
.h-3 {
    padding-left: 30px;
    font-size: 1rem;
}
.h-4 {
    padding-left: 40px;
    font-size: 0.925rem;
}
.h-5 {
    padding-left: 50px;
    font-size: 0.875rem;
}
.h-6 {
    padding-left: 60px;
    font-size: .85em;
    color: #6a737d;
}
.right-menu>div.titleList li a {
    display: block;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    color: #333;
}
.right-menu>div.titleList .j-bj {
    background: -webkit-gradient(linear, left top, right top, from(#5d9eea), to(#afcafd));
    background: linear-gradient(to right, #5d9eea, #afcafd);
    position: absolute;
    left: 0;
    height: 30px;
    top: 0px;
    width: 100%;
    z-index: -1;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
@media screen and (max-width: 425px){
    .article_l_main {
        padding: 70px 0 16px 0;
    }
}

@media screen and (max-width:768px) {
    .article_l_main {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .articles-list {
        max-height: 15rem;
    }
    .l_main .post .meta {
        margin-bottom: 16px
    }

    .l_main .post .meta .title {
        font-size: 1.25rem
    }
    .slimScrollDiv {
        position: fixed;
        max-height: 1000px;
        width: calc(100% - 2 * 16px);
        top: 64px;
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.1);
        visibility: hidden;
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        -webkit-transform-origin: right top;
        transform-origin: right top;
    }
    .right-bj. {
        width: 240px;
    }
}

@media screen and (max-width:768px) and (max-width:500px) {
    .article_l_main {
        width: 100%
    }
}

@media screen and (max-width:768px) and (max-width:500px) {
    .l_main .post {
        padding: 24px 16px
    }
}

@media screen and (min-width: 768px){
    .slimScrollDiv {
        width: 240px;
    }
    .article_l_main[content=show] {
        width: calc(100% - 1 * 240px);
    }
}

@media screen and (min-width: 992px){
    .right-bj. {
        width: 240px;
    }
    .slimScrollDiv {
        width: 240px;
    }
}

@media only screen and (min-width: 1200px) {
    .slimScrollDiv {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
    }
    .article_l_main[content=show] {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
    }
    .right-bj {
        width: 240px;
    }
}

@media only screen and (min-width: 1240px){
    .slimScrollDiv {
        -webkit-transform: translateX(80px);
        transform: translateX(80px);
    }
    .article_l_main[content=show] {
        -webkit-transform: translateX(80px);
        transform: translateX(80px);
    }
    .article_l_main[content=show] {
        width: calc(100% - 1 * 240px);
    }
}

@media screen and (max-width: 1440px) {
    .right-bj {
        width: 240px;
    }

    .slimScrollDiv {
        width: 240px;

    }
}
@media only screen and (min-width: 1440px){
    .right-bj {
        width: 240px;
    }
    .slimScrollDiv {
        -webkit-transform: translateX(120px);
        transform: translateX(120px);
    }
    .article_l_main[content=show] {
        -webkit-transform: translateX(120px);
        transform: translateX(120px);
    }
}



