
.article_l_main {
    padding: 0 16px 16px;
    margin-top: -80px;
    z-index: 10;
}
.body-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.articles_l_main {
    max-width: 860px;
    margin-top: -8rem;
    z-index: 10;
}
.l_body {
    position: relative;
    margin: 16px 16px 0 16px;
    min-height: calc(100vh - 70vh);
}
.l_main .post-list {
    position: relative;
    margin: 16px auto;
    -webkit-column-gap: 16px;
    -moz-column-gap: 16px;
    column-gap: 16px;
}
.l_main .post-wrapper {
    margin-bottom: 16px;
}
.l_main .post-wrapper {
    -webkit-column-break-inside: avoid;
    break-inside: avoid-column;
}
.l_main .post {
    position: relative;
    margin: 16px auto;
    padding: 24px;
    border-radius: 12px;
}
.white-box {
    background: #fff;
}
.shadow {
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}
.shadow:hover {
    -webkit-box-shadow: 1px 1px 7px 7px rgba(0,0,0,0.1);
    box-shadow: 1px 1px 7px 7px rgba(0,0,0,0.1);
}
.l_main .post-wrapper .post .meta {
    margin-bottom: 16px;
}
.l_main .post .meta {
    color: rgba(68,68,68,0.65);
}
.l_main .post .meta#header-meta {
    margin-top: 0;
    margin-bottom: 16px;
}
.l_main .post-wrapper .post .meta .title {
    font-size: 1.375rem;
}
.l_main .post .meta .title {
    transition: all .1s ease;
    -moz-transition: all .1s ease;
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    margin: 0;
}
.l_main .post-wrapper .post .meta .title a {
    font-size: 1.375rem;
}
.l_main .post .meta .title a {
    display: inline;
    font-weight: 400;
    color: #444;
    text-decoration: none;
}
.l_main .post .meta .new-meta-box, .l_main .post .meta .new-meta-box i, .l_main .post .meta .new-meta-box p {
    font-size: .875rem;
}
.l_main .post .meta .new-meta-box {
    transition: all .1s ease;
    -moz-transition: all .1s ease;
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    padding-top: 4px;
    padding-bottom: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.l_main .post .meta .new-meta-box .new-meta-item {
    color: rgba(68,68,68,0.65);
    line-height: 1.2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2px;
    margin: 0 8px 0 0;
    border-radius: 4px;
}
.l_main .post .meta .new-meta-box .new-meta-item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.l_main .post .meta .new-meta-box .new-meta-item a, .l_main .post .meta .new-meta-box .new-meta-item p {
    color: rgba(68,68,68,0.65);
    padding-left: 0;
    padding-right: 4px;
}
.l_main .post .meta .new-meta-box .new-meta-item a img {
    height: 1.2em;
    width: 1.2em;
    margin-right: 5px;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
}
.l_main .post .meta .new-meta-box .author i, .l_main .post .meta .new-meta-box .author img {
    border-radius: 100%;
}
.l_main .post .meta .new-meta-box .new-meta-item a p {
    margin: 0;
    padding-top: 2px;
    font-weight: 400;
    transition: all .28s ease;
    -moz-transition: all .28s ease;
    -webkit-transition: all .28s ease;
    -o-transition: all .28s ease;
}
.l_main .post .meta .new-meta-box .new-meta-item a, .l_main .post .meta .new-meta-box .new-meta-item p {
    color: rgba(68,68,68,0.65);
    padding-left: 0;
    padding-right: 4px;
}
.l_main .post .meta .new-meta-box .new-meta-item .notlink {
    cursor: default;
}
.article p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
    max-width: 100%;
    overflow: auto;
}
.l_main .post a img {
    display: inline;
}
.article div>img, .article p>img {
    display: block;
    margin: auto;
    border-radius: 5px;
}
.article img {
    position: relative;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
}
.article p>img:hover {
    transform: scale(1.05);
}
.article p {
    border-radius: 5px;
    overflow-x:hidden; overflow-y:hidden;
}
.articles-list {
    max-height: 20rem;
}
.blog-background {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.back-top {
    right: 40px;
    bottom: 40px;
    position: fixed;
    background-color: #FFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 20px;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.12);
    box-shadow: 0 0 6px rgba(0,0,0,.12);
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    cursor: pointer;
    z-index: 105;
}

@media screen and (max-width: 425px){
    .article_l_main {
        padding: 70px 0 16px 0;
    }
}

@media screen and (max-width:768px) {
    .article_l_main {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .articles-list {
        max-height: 15rem;
    }
    .l_main .post .meta {
        margin-bottom: 16px
    }

    .l_main .post .meta .title {
        font-size: 1.25rem
    }
}

@media screen and (max-width:768px) and (max-width:500px) {
    .article_l_main {
        width: 100%
    }
}

@media screen and (max-width:768px) and (max-width:500px) {
    .l_main .post {
        padding: 24px 16px
    }
}

@media screen and (max-width: 1440px){
    .article_l_main {
        width: calc(100% - 1 * 240px);
    }
}

