#toggle-nav {
    display: none;
    top: .625rem;
    left: .625rem;
    font-size: .75rem;
    position: fixed;
    z-index: 899;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
}

#sidebar-nav {
    width: 17.5rem;
    height: 100%;
    position: fixed;
    left: -17.5rem;
    top: 0;
    bottom: 0;
    background: #fafafa;
    border-right: 1px solid #efefef;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 6.25rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
}
#toggle-nav .nav-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #FFF;
    border: 1px solid #DCDFE6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
    font-weight: 500;
    font-size: 12px;
    padding: 9px 15px;
    border-radius: 20px;
}
#sidebar-nav .author {
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    min-width: 12.5rem;
}
#sidebar-nav .author img {
    border-radius: 7rem;
    width: 7rem;
    height: 7rem;
}
#sidebar-nav .menu {
    margin-top: 1.875rem;
}
#sidebar-nav .menu li a {
    color: #333;
    padding: 0.375rem 1.75rem;
    position: relative;
    line-height: 2.25rem;
    display: block;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 300;
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear;
}
#sidebar-nav .menu li a:hover {
    background: #efefef;
    color: #333;
}
@media (max-width: 767.98px) {
    #toggle-nav {
        display: block;
    }
    #toggle-nav .nav-button {
        -webkit-backdrop-filter: saturate(180%) blur(2px);
        backdrop-filter: saturate(180%) blur(2px);
        background-color: #ffffffa3;
    }
}
