spring:
  thymeleaf: # thymeleaf配置，开发环境不启用缓存，正式环境下请启用缓存，提高性能
    cache: false
    mode: HTML # thymeleaf对html元素格式要求严格，设置它的mode为HTML，忘记结束标签后不会报错
  data:
    mongodb:
      uri: mongodb://192.168.0.233:27017/jmalcloud-test
  web:
    resources:
      cache:
        cachecontrol:
          max-age: 0
      chain:
        cache: false
logging:
  level:
    root: info
