body {
    background-color: #181c27;
    color: #c4c6c9;
}
.slimScrollDiv::-webkit-scrollbar-thumb {
    background-color: #999;
    outline: 2px solid #191d27;
    border: 2px solid #191d27;
}
.slimScrollDiv::-webkit-scrollbar-thumb:hover {
    background-color: #c0c0c0;
}
.slimScrollDiv::-webkit-scrollbar-track {
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    background   : #181c27;
}
.slimScrollDiv::-webkit-scrollbar-track-piece {
    background-color: #252d38;
}
::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    background-color: #999;
    outline: 2px solid #191d27;
    border: 2px solid #191d27;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #c0c0c0;
}
::-webkit-scrollbar-track-piece {
    background-color: #191d27;
}
/*article-top*/
#top {
    -webkit-box-shadow: 4px -11px 20px #000;
    box-shadow: 4px -11px 20px #000;
    background-color: #262e3885;
}
#top .navbar a {
    color: #d1d5da;
    font-family: 'Mirages Custom', 'Merriweather', 'Open Sans', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', 'WenQuanYi Micro Hei', 'Segoe UI Emoji', 'Segoe UI Symbol', Helvetica, Arial, sans-serif;
}

#top .navbar .container-fluid .side-toolbar-list li a {
    background: #262e38;
    color: #f0f0f0;
}

#top .navbar .container-fluid .side-toolbar-list li a:hover {
    background: #f0f0f0;
    color: #262e38;
}

.navbar-search-container {
    background: #262e38;
    color: #f0f0f0;
}
.navbar-search-container .search-form input.search {
    color: #f0f0f0;
}

.dropdown-menu {
    background-color: #262e38;
    -webkit-box-shadow: 0 0.0625rem 0.3125rem 0.0625rem rgba(0,0,0,0.117);
    -moz-box-shadow: 0 0.0625rem 0.3125rem 0.0625rem rgba(0,0,0,0.117);
    box-shadow: 0 0.0625rem 0.3125rem 0.0625rem rgba(0,0,0,0.117);
}
.dropdown-item>a:hover {
    background-color: #374250;
}
.gradient-bg-rev {
    background: #b2fefa !important;
    background: -webkit-gradient(linear, left top, right top, from(#0052d4), color-stop(#0ed2f7), to(#b2fefa)) !important;
    background: linear-gradient(to right, #0052d4, #0ed2f7, #b2fefa) !important;
}

.scrollbar {
    background-color: #50bcb6;
}
/*sidebar*/
#sidebar-nav {
    background: #181c27;
    border-right: 1px solid #181c27;
}
#toggle-nav .nav-button {
    background: #FFF;
    border: 1px solid #3a3b3e;
    color: #cfd4de;
}
#sidebar-nav .menu li a {
    color: #d1d2da;
}
#sidebar-nav .menu li a:hover {
    background: #333;
    color: #efefef;
}
@media (max-width: 767.98px) {
    #toggle-nav .nav-button {
        background-color: #000000a3;
    }
}

/*article-header*/
.article-header {
    color: #d1d5da;
    background-color: #191d27;
}
/*article-body*/
#preview {
    background: #252d38;
}
.white-box {
    background: #252d38;
}
.shadow {
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}
.shadow:hover {
    -webkit-box-shadow: 1px 1px 7px 7px rgba(0,0,0,0.1);
    box-shadow: 1px 1px 7px 7px rgba(0,0,0,0.1);
}
.post .meta {
    color: #d1d5da;
}
.post .meta#header-meta hr{
    background-color: #616161;
}
.post .meta .title a {
    color: #d1d5da;
}
.post .meta .new-meta-box .new-meta-item {
    color: #d1d5da;
}
.post .meta .new-meta-box .new-meta-item a, .post .meta .new-meta-box .new-meta-item p {
    color: #d1d5da;
}

.back-top {
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.12);
    box-shadow: 0 0 6px rgba(0,0,0,.12);
    background-color: #262e3885;
}
.show-content {
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.12);
    box-shadow: 0 0 6px rgba(0,0,0,.12);
    background-color: #262e3885;
}

.article-body {
    background-color: #252d38;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0px 2px 12px 0px;
    box-shadow: rgba(0,0,0,0.1) 0px 2px 12px 0px;
}
.vditor-reset {
    color: #24292e;
}
.slimScrollDiv {
    background: #252d38;
    border-right: 1px solid #252d38;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0 2px 12px 0;
    box-shadow: rgba(0,0,0,0.1) 0 2px 12px 0;
}
.slimScrollDiv>.right-menu>div {
    border-top: 1px dashed #6f6f6f;
    border-bottom: 1px dashed #6f6f6f;
}
.toc-content {
    -webkit-box-shadow: -2px 0px 5px 1px #00000021;
    box-shadow: -2px 0px 5px 1px #00000021;
    background-color: #343232b3;
}
.toc-content>.toc-header {
    color: #2196f3;
}
.right-menu>div.titleList li a, .right-menu>div.titleList li a>xmp {
    color: #d1d5d9;
}
.right-menu>div.titleList .avtive{
    background: #ffffff !important;
}
.right-menu>div.titleList .j-bj {
    background: -webkit-gradient(linear, left top, right top, from(#484848), to(#8c8c8c));
    background: linear-gradient(to right, #484848, #8c8c8c);
}
.shadow {
    -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.1);
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.1);
}
.toc-content {
    background-color: #343232b3;
}
.slimScrollDiv {
    border-left: 1px solid rgba(204, 204, 204, 0.32);
    -webkit-box-shadow: rgba(0,0,0,0.1) 0 1px 0 0;
    box-shadow: rgba(0,0,0,0.1) 0 1px 0 0;
    background: #ffffff69;
}
.layui-timeline-title {
    color: #d1d2da !important;
}
.archives a {
    color: #d1d2da !important;
}
.archives a:hover {
    color: #d1d2da;
    background: #364151;
}
.archives .time {
    color: #d1d2da;
    padding-right: .625rem;
}
/*article-footer*/

footer {
    color: rgba(68,68,68,0.65);
}
footer a {
    color: #c4c6c9;
}
.layui-laypage a, .layui-laypage span {
    border: 1px solid #181d27;
    background-color: #252d38;
    color: #d1d2da;
}
/*markdown*/
.article-body .note-update-date {
    border-color: #757575;
    background: -webkit-gradient(linear, left top, right top, from(#484848), to(#8c8c8c));
    background: linear-gradient(to right, #484848, #8c8c8c);
}
.article-body blockquote {
    color: #656565;
    background-color: rgba(119,119,119,0.05);
    border-left: .2em solid #0052d4 !important;
}
code::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    background-color: #999;
    outline: 2px solid #252d38;
    border: 2px solid #252d38;
}
code::-webkit-scrollbar-thumb:hover {
    /*滚动条里面小方块*/
    background-color: #c0c0c0;
}
code::-webkit-scrollbar-track-piece {
    background-color: #252d38;
}
code::-webkit-scrollbar-corner {
    background-color: #252d38;
}
/*mask*/
#wrap-mask {
    background-color: #262e3885;
}

#wrap-mask > .boxLoading:before {
    background: #000;
}

#wrap-mask > .boxLoading:after {
    background: #2196F3;
}
