body {
    background-color: #181c27;
    color: #c4c6c9;
    overflow-x: hidden;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
}
ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1em;
}
ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ol, ul {
    padding-left: 0;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #1890ff;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    -webkit-text-decoration-skip: objects;
}
a, a:focus, a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}
li {
    list-style: none;
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/*body::-webkit-scrollbar{*/
/*    height: 8px;*/
/*    width: 8px;*/
/*}*/
/*body::-webkit-scrollbar-thumb{*/
/*    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1), inset 0 -1px 0 rgba(0,0,0,0.07);*/
/*    background-clip: padding-box;*/
/*    background-color: #808080;*/
/*    min-height: 40px;*/
/*    padding-top: 100px;*/
/*    border-radius: 4px;*/
/*}*/

body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

.slimScrollDiv::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.slimScrollDiv::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: #c0c0c0;
    -webkit-border-radius: 7px;
    outline: 2px solid #fff;
    outline-offset: -2px;
    border: 2px solid #fff;
}
.slimScrollDiv::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}
.slimScrollDiv::-webkit-scrollbar-track {
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    background   : #ffffff;
    border-radius: 10px;
}
.slimScrollDiv::-webkit-scrollbar-track-piece {
    background-color: #fff;
    -webkit-border-radius: 3px;
}



body::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 12px;
    height: 10px;
}
body::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    height: 30px;
    background-color: #c0c0c0;
    -webkit-border-radius: 7px;
    outline: 2px solid #fff;
    outline-offset: -2px;
    border: 2px solid #fff;
}
body::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}
body::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    /*box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);*/
    /*background   : #ffffff;*/
    /*border-radius: 10px;*/
}
body::-webkit-scrollbar-track-piece {
    background-color: #fff;
    -webkit-border-radius: 3px;
}

html {
    font-size: 1rem!important;
    height: 100%;
    box-sizing: border-box;
}
/*article-top*/
#top {
    padding: .75rem 1rem;
    line-height: 2;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 891;
    -webkit-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
    -webkit-box-shadow: 4px -11px 20px #000;
    box-shadow: 4px -11px 20px #000;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: #ffffffb3;
}
#top .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#top .navbar .container-fluid {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}
#top .navbar .container-fluid .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    line-height: 2;
}
#top .navbar .container-fluid .navbar-nav {
    font-size: 1.1rem;
    display: -ms-flexbox;
    display: -webkit-box !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
#top .navbar .container-fluid .navbar-nav .nav-item {
    margin: 0 10px;
}
#top .navbar .container-fluid .mr-auto {
    margin-right: auto !important;
}
#top .navbar .navbar-brand.text-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
}
#top .navbar .navbar-brand {
    display: inline-block;
    padding: 0;
    margin-right: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5;
    white-space: nowrap;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#top .navbar a {
    color: #000000e6;
    font-family: 'Mirages Custom', 'Merriweather', 'Open Sans', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', 'WenQuanYi Micro Hei', 'Segoe UI Emoji', 'Segoe UI Symbol', Helvetica, Arial, sans-serif;
}

.nav-link-label {
    margin-left: 0.25rem;
}

#top .navbar .container-fluid .side-toolbar-list {
    text-align: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.side-toolbar-list li {
    position: relative;
    display: inline-block;
    margin: 0 .25rem;
}

#top .navbar .container-fluid .side-toolbar-list li a {
    display: inline-block;
    height: 2.75rem;
    width: 2.75rem;
    line-height: 2.75rem;
    border-radius: 100%;
    font-size: 1rem;
    background: #f0f0f0;
    color: #333;
    vertical-align: middle;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
}

#top .navbar .container-fluid .side-toolbar-list li a:hover {
    background: #333;
    color: #fff;
}

.animateOut {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.gradient-bg-rev {
    background: #b2fefa !important;
    background: -webkit-gradient(linear, left top, right top, from(#0052d4), color-stop(#0ed2f7), to(#b2fefa)) !important;
    background: linear-gradient(to right, #0052d4, #0ed2f7, #b2fefa) !important;
}

.scrollbar {
    margin-top: .75rem;
    margin-left: -1rem;
    position: fixed;
    height: 3px;
    width: 10px;
    background-color: #50bcb6;
    -webkit-transition: width 0.5s ease;
    transition: width 0.5s ease;
    z-index: 11;
}

@media (min-width: 576px) {

}

@media screen and (max-width: 768px) {
    .blog-title {
        font-size: 1.75rem;
        font-weight: 400;
        margin-bottom: .5rem;
    }
    .cover-wrapper .cover .cover-body {
        padding-bottom: 68px;
    }
    .cover-wrapper .cover .cover-body .title {
        font-size: 2rem;
        font-weight: 400;
    }
    .article-header .inner {
        padding-bottom: 80px;
    }
    .animateIn {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@media (min-width: 768px){

}

@media (min-width: 992px) {
    .navbar>.container-fluid {
        max-width: 960px;
    }
}

@media (min-width: 1210px) {
    .navbar>.container-fluid {
        max-width: 1170px;
    }
}
/*sidebar*/
#toggle-nav {
    display: none;
    top: .625rem;
    left: .625rem;
    font-size: .75rem;
    position: fixed;
    z-index: 899;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
}

#sidebar-nav {
    width: 17.5rem;
    height: 100%;
    position: fixed;
    left: -17.5rem;
    top: 0;
    bottom: 0;
    background: #fafafa;
    border-right: 1px solid #efefef;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 6.25rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
}
#toggle-nav .nav-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #FFF;
    border: 1px solid #DCDFE6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
    font-weight: 500;
    font-size: 12px;
    padding: 9px 15px;
    border-radius: 20px;
}
#sidebar-nav .author {
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    min-width: 12.5rem;
}
#sidebar-nav .author img {
    border-radius: 7rem;
    width: 7rem;
    height: 7rem;
}
#sidebar-nav .menu {
    margin-top: 1.875rem;
}
#sidebar-nav .menu li a {
    color: #333;
    padding: 0.375rem 1.75rem;
    position: relative;
    line-height: 2.25rem;
    display: block;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 300;
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear;
}
#sidebar-nav .menu li a:hover {
    background: #efefef;
    color: #333;
}
@media (max-width: 767.98px) {
    #toggle-nav {
        display: block;
    }
    #toggle-nav .nav-button {
        -webkit-backdrop-filter: saturate(180%) blur(2px);
        backdrop-filter: saturate(180%) blur(2px);
        background-color: #ffffffa3;
    }
}

/*article-header*/
.article-header {
    height: 70vh;
    min-height: 12.5px;
    position: relative;
    display: table;
    text-align: center;
    overflow: hidden;
    color: #fff;
    background-color: #2e2e2e;
    width: calc(100% - -0.0625rem);
    -webkit-transition: 1s ease background-color;
    transition: 1s ease background-color;
}
.article-header .article-background {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: 1s ease opacity;
    transition: 1s ease opacity;
}
.inner {
    display: table-cell;
    position: relative;
    z-index: 10;
    width: 100%;
    left: -1px;
    vertical-align: middle;
    max-width: 710px;
    margin: 0 auto;
}
.blog-title {
    font-size: 2.5rem;
    line-height: 1.5;
    margin-bottom: .75rem;
}
.typed-cursor {
    animation: typed 0.7s infinite;
    -webkit-animation: typed 0.7s infinite;
}

@media not all, screen and (-webkit-min-device-pixel-ratio: 1.5), not all, not all {
    .blog-description.font-mono {
        font-family: Consolas,Menlo,Monaco,"lucida console","Liberation Mono","Courier New","andale mono",monospaceX,monospace,sans-serif;
        font-size: 1rem;
    }
}

@keyframes typed {
    50% {
        opacity: 0.0;
    }
}

/*article-body*/
#body {
    overflow: hidden;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
}
.article_l_main {
    padding: 0 16px 16px;
    margin-top: -80px;
    z-index: 10;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}
.body-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.articles_l_main {
    width: 100%;
    max-width: 860px;
    margin-top: -8rem;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
}
.l_body {
    position: relative;
    margin: 16px 16px 0 16px;
    min-height: calc(100vh - 70vh);
    z-index: 11;
}
.post-list {
    position: relative;
    margin: 16px auto;
    -webkit-column-gap: 16px;
    -moz-column-gap: 16px;
    column-gap: 16px;
}
.post-wrapper {
    margin-bottom: 16px;
}
.post-wrapper {
    -webkit-column-break-inside: avoid;
    break-inside: avoid-column;
}
.post {
    position: relative;
    margin: 16px auto;
    padding: 24px;
    border-radius: 12px;
}
.white-box {
    background: #fff;
}
.shadow {
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}
.shadow:hover {
    -webkit-box-shadow: 1px 1px 7px 7px rgba(0,0,0,0.1);
    box-shadow: 1px 1px 7px 7px rgba(0,0,0,0.1);
}
.post-wrapper .post .meta {
    margin-bottom: 16px;
}
.post .meta {
    color: rgba(68,68,68,0.65);
}
.post .meta#header-meta {
    margin-top: 0;
    margin-bottom: 16px;
}
.post-wrapper .post .meta .title {
    font-size: 1.375rem;
}
.post .meta .title {
    transition: all .1s ease;
    -moz-transition: all .1s ease;
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    margin: 0;
}
.post-wrapper .post .meta .title a {
    font-size: 1.375rem;
}
.post .meta .title a {
    display: inline;
    font-weight: 400;
    color: #444;
    text-decoration: none;
}
.post .meta .new-meta-box, .post .meta .new-meta-box i, .post .meta .new-meta-box p {
    font-size: .875rem;
}
.post .meta .new-meta-box {
    transition: all .1s ease;
    -moz-transition: all .1s ease;
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    padding-top: 4px;
    padding-bottom: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.post .meta .new-meta-box .new-meta-item {
    color: rgba(68,68,68,0.65);
    line-height: 1.2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2px;
    margin: 0 8px 0 0;
    border-radius: 4px;
}
.post .meta .new-meta-box .new-meta-item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.post .meta .new-meta-box .new-meta-item a, .post .meta .new-meta-box .new-meta-item p {
    color: rgba(68,68,68,0.65);
    padding-left: 0;
    padding-right: 4px;
}
.post .meta .new-meta-box .new-meta-item a img {
    height: 1.2em;
    width: 1.2em;
    margin-right: 5px;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
}
.post .meta .new-meta-box .author i, .post .meta .new-meta-box .author img {
    border-radius: 100%;
}
.post .meta .new-meta-box .new-meta-item a p {
    margin: 0;
    padding-top: 2px;
    font-weight: 400;
    transition: all .28s ease;
    -moz-transition: all .28s ease;
    -webkit-transition: all .28s ease;
    -o-transition: all .28s ease;
}
.post .meta .new-meta-box .new-meta-item a, .post .meta .new-meta-box .new-meta-item p {
    color: rgba(68,68,68,0.65);
    padding-left: 0;
    padding-right: 4px;
}
.post .meta .new-meta-box .new-meta-item .notlink {
    cursor: default;
}
.article p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
    max-width: 100%;
    overflow: auto;
}
.post a img {
    display: inline;
}
.article div>img, .article p>img {
    display: block;
    margin: auto;
    border-radius: 5px;
}
.article img {
    position: relative;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
}
.article p>img:hover {
    transform: scale(1.05);
}
.article p {
    border-radius: 5px;
    overflow-x:hidden; overflow-y:hidden;
}
.articles-list {
    max-height: 20rem;
}
.blog-background {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.back-top {
    bottom: 1rem;
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 20px;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.12);
    box-shadow: 0 0 6px rgba(0,0,0,.12);
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    cursor: pointer;
    z-index: 105;
    backdrop-filter: saturate(180%) blur(20px);
    background-color: #ffffff5c;
}
.show-content {
    display: none;
    right: 1rem;
    bottom: 4.5rem;
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 20px;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.12);
    box-shadow: 0 0 6px rgba(0,0,0,.12);
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    cursor: pointer;
    z-index: 105;
    backdrop-filter: saturate(180%) blur(20px);
    background-color: #ffffff5c;
}

.article-body {
    padding: 20px 35px;
    border-radius: 0.5rem;
    background-color: #ffffff;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0px 2px 12px 0px;
    box-shadow: rgba(0,0,0,0.1) 0px 2px 12px 0px;
}
.vditor-reset {
    color: #24292e;
    -webkit-font-variant-ligatures: no-common-ligatures;
    font-variant-ligatures: no-common-ligatures;
    font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans","Hiragino Sans GB","Microsoft Yahei",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Noto Color Emoji","Segoe UI Symbol","Android Emoji","EmojiSymbols";
    word-wrap: break-word;
    overflow: auto;
    line-height: 1.5;
    font-size: 16px;
    word-break: break-word;
}

.affix {
    position: fixed!important;
    top: 0px;
    width: 240px;
}

#laypage {
    text-align: center;
}
.right-bj {
    -webkit-transition: all .5s;
    transition: all .5s;
    width: 285px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.slimScrollDiv {
    border-right: 1px solid #e8e8e8;
    -webkit-transition: all .5s;
    transition: all .5s;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0 2px 12px 0;
    box-shadow: rgba(0,0,0,0.1) 0 2px 12px 0;
    width: 285px;
    margin-top: 67px;
    overflow: auto;
    float: right;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.slimScrollDiv>.right-menu {
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.slimScrollDiv>.right-menu>div {
    display: block;
    border-top: 1px dashed #cccccc;
    border-bottom: 1px dashed #cccccc;
}
.toc-content {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    -webkit-box-shadow: -2px 0px 5px 1px #00000021;
    box-shadow: -2px 0px 5px 1px #00000021;
    -webkit-backdrop-filter: saturate(360%) blur(8px);
    backdrop-filter: saturate(360%) blur(8px);
    background-color: rgba(255,255,255,0.72);
}
.toc-content>.toc-header {
    padding: calc(11px - 2px);
    color: #2196f3;
    font-size: 1rem;
}
.toc-content>.toc-header span {
    margin-left: 10px;
}
.slimScrollDiv>.right-menu.right-menu>div.titleList {
    position: relative;
}
.right-menu>div.titleList li {
    margin-bottom: 4px;
    cursor: pointer;
    padding-right: 16px;
    font-weight: normal;
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.right-menu>div.titleList li a {
    display: block;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1rem;
    color: #333;
}
.h-1 {
    padding-left: 15px;
}
.h-2 {
    padding-left: 30px;
    font-size: 1.1rem;
}
.h-3 {
    padding-left: 45px;
    font-size: 1rem;
}
.h-4 {
    padding-left: 65px;
}
.h-5 {
    padding-left: 80px;
    font-size: 0.875rem;
}
.h-6 {
    padding-left: 95px;
}
.right-menu>div.titleList .j-bj {
    background: -webkit-gradient(linear, left top, right top, from(#5d9eea), to(#afcafd));
    background: linear-gradient(to right, #5d9eea, #afcafd);
    position: absolute;
    left: 0;
    height: 30px;
    top: 0;
    line-height: 30px;
    width: 100%;
    z-index: -1;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

@media screen and (max-width:768px) {
    .article_l_main,.articles_l_main {
        width: 100%;
        padding: 0;
    }
    .l_body {
        margin: 0;
        padding: 0 16px;
    }
    .articles-list {
        max-height: 10rem;
    }
    .shadow {
        -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.1);
        box-shadow: 0 0 3px 1px rgba(0,0,0,0.1);
    }
    .post .meta {
        margin-bottom: 16px
    }

    .post .meta .title {
        font-size: 1.25rem
    }
    .toc-content {
        background-color: #ffffff;
    }
    .slimScrollDiv {
        position: fixed;
        z-index: 30;
        top: unset;
        bottom: 8rem;
        right: 0;
        /*display: none;*/
        transform: translateX(250px);
        border-left: 1px solid rgba(204, 204, 204, 0.32);
        -webkit-box-shadow: rgba(0,0,0,0.1) 0 1px 0 0;
        box-shadow: rgba(0,0,0,0.1) 0 1px 0 0;
        -webkit-backdrop-filter: saturate(180%) blur(10px);
        backdrop-filter: saturate(180%) blur(10px);
        background: #ffffff69;
    }
    .right-bj. {
        width: 240px;
    }
    .back-top {
        right: 1rem;
    }
    .back-top:active {
        transform: scale(1.3);
    }
    .show-content {
        display: none;
    }
    .show-content:active {
        transform: scale(1.3);
    }
}

@media screen and (max-width:768px) and (max-width:500px) {
    .post {
        padding: 24px 16px
    }
}

@media (min-width: 768px){
    .slimScrollDiv {
        width: 240px;
    }
    .article_l_main[content=show] {
        width: calc(100% - 1 * 240px);
        min-width: 500px;
    }
    .body-wrapper {
        max-width: 1080px;
    }
    .back-top:hover {
        transform: scale(1.3);
    }
}

@media screen and (max-width:768px){
    .article_l_main {
        width: 100% !important;
    }
    .article-body {
        padding: 20px 16px;
    }
    .article-body .note-update-date {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 992px){
    .right-bj. {
        width: 240px;
    }
    .slimScrollDiv {
        width: 240px;
    }
}

@media only screen and (min-width: 1200px) {
    .right-bj {
        width: 240px;
    }
}

@media only screen and (min-width: 1240px){
    .article_l_main[content=show] {
        width: calc(100% - 1 * 240px);
    }
}

@media screen and (max-width: 1440px) {
    .right-bj {
        width: 240px;
    }
    .slimScrollDiv {
        width: 240px;
    }
}

@media only screen and (max-width: 1680px) and (min-width: 1440px){
    .body-wrapper {
        max-width: 1200px;
    }
}

@media only screen and (min-width: 1440px){
    .right-bj {
        width: 240px;
    }
}
/*article-footer*/
footer, footer p {
    font-size: .8125rem;
}

footer {
    position: relative;
    bottom: 10px;
    padding: 10px 10px 10px 10px;
    width: 100%;
    color: rgba(68,68,68,0.65);
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}
footer .copyright {
    margin-top: 16px;
    font-size: .75rem;
}
footer a {
    color: rgba(68,68,68,0.65);
    padding: 0;
    transition: all .28s ease;
    -moz-transition: all .28s ease;
    -webkit-transition: all .28s ease;
    -o-transition: all .28s ease;
}
/*markdown*/
.article-body .note-update-date {
    padding: 0.75rem;
    border-left: 0.35rem solid;
    border-radius: 0.25rem;
    margin: 1.5rem 0;
    border-color: #0052d4;
    background: -webkit-gradient(linear, left top, right top, from(#5d9eea), to(#afcafd));
    background: linear-gradient(to right, #5d9eea, #afcafd);
}
.article-body blockquote {
    padding: 0.5em 1em;
    color: #656565;
    background-color: rgba(119,119,119,0.05);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: .2em solid #0052d4 !important;
}
/*mask*/
#wrap-mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #ffffff;
}

#wrap-mask > .boxLoading {
    width: 50px;
    height: 50px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#wrap-mask > .boxLoading:before {
    content: '';
    width: 50px;
    height: 5px;
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
}

#wrap-mask > .boxLoading:after {
    content: '';
    width: 50px;
    height: 50px;
    background: #2196F3;
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
}

@keyframes animate {
    17% {
        border-bottom-right-radius: 3px;
    }
    25% {
        transform: translateY(9px) rotate(22.5deg);
    }
    50% {
        transform: translateY(18px) scale(1, .9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }
    75% {
        transform: translateY(9px) rotate(67.5deg);
    }
    100% {
        transform: translateY(0) rotate(90deg);
    }
}

@keyframes shadow {
    0%, 100% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1);
    }
}
