<div class="navbar animated fadeIn fast delay-1s" xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid">
        <a class="navbar-brand text-brand" href="/articles" th:text="${setting.siteName}"></a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/articles/archives" title="归档">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-guidang"></use>
                        </svg>
                        <span class="nav-link-label">归档</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/articles/categories" title="分类">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-fenlei"></use>
                        </svg>
                        <span class="nav-link-label">分类</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/articles/about" title="关于">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-myself"></use>
                        </svg>
                        <span class="nav-link-label">关于</span>
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav side-toolbar-list">
                <li th:each="operatingButton : ${setting.operatingButtonList}">
                    <a th:href="${operatingButton.url}" th:title="${operatingButton.title}" target="_blank">
                        <i th:class="${operatingButton.style}"></i>
                    </a>
                </li>
                <li>
                    <a class="changeTheme">
                        <i th:if="${darkTheme}" class="fas fa-sun"></i>
                        <i th:if="${!darkTheme}" class="fas fa-moon"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>