<div class="navbar animated fadeIn fast delay-1s">
    <div class="container-fluid">
        <a class="navbar-brand text-brand" href="/articles" th:text="${setting.siteName}"></a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.jmal.top/archives.html" title="归档"><svg-icon icon-class="guidang"></svg-icon><span class="nav-link-label">归档</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.jmal.top/archives.html" title="分类"><svg-icon icon-class="fenlei"></svg-icon><span class="nav-link-label">分类</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.jmal.top/archives.html" title="关于"><svg-icon icon-class="myself"></svg-icon><span class="nav-link-label">关于</span></a>
                </li>
            </ul>

            <ul class="navbar-nav side-toolbar-list">
                <li v-for="operatingButton in operatingButtons">
                    <a :href="operatingButton.url" :title="operatingButton.title" target="_blank">
                        <dl v-html="operatingButton.fontHtml">
                            {{operatingButton.fontHtml}}
                        </dl>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>