<link rel="shortcut icon" href="/articles/favicon.ico" type="image/x-icon" />
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<meta name="HandheldFriendly" content="true">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
<meta http-equiv="x-dns-prefetch-control" content="on">
<meta property="og:title" content="jmal's blog" />
<meta property="og:site_name" content="jmal's blog" />
<meta property="og:type" content="website" />
<meta property="og:description" content="阿伦的奇幻之旅" />
<meta property="og:url" content="https://www.jmal.top" />
<meta name="description" content="阿伦的奇幻之旅" />
<meta name="keywords" content="blog" />
<link rel="pingback" href="https://www.jmal.top/action/xmlrpc" />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.jmal.top/action/xmlrpc?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.jmal.top/action/xmlrpc?wlw" />
<link rel="alternate" type="application/rss+xml" title="jmal's blog &raquo; RSS 2.0" href="https://www.jmal.top/feed/" />
<link rel="alternate" type="application/rdf+xml" title="jmal's blog &raquo; RSS 1.0" href="https://www.jmal.top/feed/rss/" />
<link rel="alternate" type="application/atom+xml" title="jmal's blog &raquo; ATOM 1.0" href="https://www.jmal.top/feed/atom/" />
<link rel="stylesheet" type="text/css" href="/articles/fontawesome-free-5.11.2-web/css/all.css">
<link rel="stylesheet" type="text/css" href="/articles/css/light/index-2.1.css">
<link id="theme-css-dark" th:if="${darkTheme}" rel="stylesheet" type="text/css" href="/articles/css/dark/index-2.1.css">
<script src="//at.alicdn.com/t/font_2024484_ungt2dkxv2.js" type="text/javascript"></script>