<div xmlns:th="http://www.thymeleaf.org">
    <div id="toggle-nav">
        <button class="nav-button" onclick="toggle()">MENU</button>
    </div>
    <div id="sidebar-nav">
        <div class="author navbar-header">
            <a href="/articles">
                <img src="http://localhost:9528/api/file/jmal/%E6%96%87%E6%A1%A3/%E8%89%BE%E7%BC%96%E7%A8%8B/Docker%EF%BC%88%E4%B8%80%EF%BC%89/UNADJUSTEDNONRAW_thumb_6ee.jpg" alt="Avatar" width="100" height="100">
            </a>
        </div>
        <ul id="menu-menu-1" class="menu navbar-nav">
            <li class="menu-item">
                <a href="/articles">首页</a>
            </li>
            <li class="menu-item">
                <a class="nav-link" href="/articles/archives" title="归档">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-guidang"></use>
                    </svg>
                    <span class="nav-link-label">归档</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="nav-link" href="/articles/categories" title="分类">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-fenlei"></use>
                    </svg>
                    <span class="nav-link-label">分类</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="nav-link" href="/articles/about" title="关于">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-myself"></use>
                    </svg>
                    <span class="nav-link-label">关于</span>
                </a>
            </li>
            <li class="menu-item" th:each="operatingButton : ${setting.operatingButtonList}">
                <a th:href="${operatingButton.url}" target="_blank">
                    <i th:class="${operatingButton.style}"></i>
                    <span th:text="${{operatingButton.title}}"></span>
                </a>
            </li>
            <li>
                <a class="changeTheme">
                    <i th:if="${darkTheme}" class="fas fa-sun"></i>
                    <span th:if="${darkTheme}">亮色</span>
                    <i th:if="${!darkTheme}" class="fas fa-moon"></i>
                    <span th:if="${!darkTheme}">暗色</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<script>
    function toggle() {
        let body = document.getElementById("body")
        let toggleNav = document.getElementById("toggle-nav")
        let sidebarNav = document.getElementById("sidebar-nav")
        if(body.style.transform.length > 0){
            body.style.transform = ''
            toggleNav.style.transform = ''
            sidebarNav.style.transform = ''
        } else {
            body.style.transform = 'translateX(17.5rem)'
            toggleNav.style.transform = 'translateX(14.5rem)'
            sidebarNav.style.transform = 'translateX(17.5rem)'
        }
    }
</script>