<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>归档</title>
    <iframe th:replace="component/head.html"></iframe>
    <link rel="stylesheet" type="text/css" href="/articles/fontawesome-free-5.11.2-web/css/all.css">
    <link rel="stylesheet" type="text/css" href="/articles/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/articles/css/light/index.css">
    <link id="theme-css-dark" th:if="${darkTheme}" rel="stylesheet" type="text/css" href="/articles/css/dark/index.css">
    <link rel="stylesheet" type="text/css" href="/articles/css/independent.css">
    <style>

    </style>
</head>
<body class="theme-white color-default card  desktop macOS macOS-ge-10-11 macOS-ge-10-12 chrome not-safari open use-navbar">
<!--[if lt IE 9]>
<div class="browse-happy" role="dialog">当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/">升级你的浏览器</a>.</div>
<![endif]-->
<div th:include="component/sidebar.html"></div>
<div id="body">
    <div id="top" class="animateIn">
        <div th:include="component/article-top.html"></div>
    </div>
    <div class="article-header">
        <div class="article-background" th:style="'background-image: url('+${setting.backgroundSite}+')'"></div>
        <div class="inner">
            <div class="blog-title"><span id="article-title">归档</span><span class="typed-cursor">_</span></div>
            <div class="blog-description font-mono">
                <span></span>
            </div>
        </div>
    </div>
    <div class="body-wrapper">
        <el-main id="main_body" class="l_main article_l_main">
            <div class="archives article-body">
                <ul class="layui-timeline">
                    <li class="layui-timeline-item" th:each="articles : ${articlesData.getData()}">
                        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                        <div class="layui-timeline-content layui-text">
                            <h3 class="layui-timeline-title" th:text="${articles.get(0).date()}"></h3>
                            <div class="brick" th:each="article : ${articles}">
                                <a th:href="'/articles/'+${article.slug == null ? article.id:article.slug}">
                                    <span class="time" th:text="${article.dateTime()}"></span>
                                    <span th:text="${article.name}"> </span>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="laypage">
                <div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-1">
                    <i th:if="${articlesData.getTotalPage() > 1}">
                        <a th:href="'/articles?page=' + ${articlesData.getCurrentPage()-1}" th:class="'layui-laypage-prev'+ ${articlesData.isFirst()?' layui-disabled':''}" >上一页</a>
                        <i class="rainbow-page">
                            <i th:if="${articlesData.getCurrentPage() >= 5}">
                                <a href="/articles" class="layui-laypage-first" title="首页">1</a>
                                <span class="layui-laypage-spr">…</span>
                            </i>
                            <i th:each="page : ${articlesData.rainbow()}">
                            <span th:if="${articlesData.getCurrentPage() == page}" class="layui-laypage-curr">
                                <em class="layui-laypage-em" style="background-color:#409EFF;"></em><em th:text="${page}"></em>
                            </span>
                                <a th:if="${articlesData.getCurrentPage() != page}" th:href="'/articles?page=' + ${page}" class="layui-laypage-prev" th:text="${page}"></a>
                            </i>
                            <i th:if="${articlesData.getTotalPage()-articlesData.getCurrentPage() >= 4}">
                                <span class="layui-laypage-spr">…</span>
                                <a th:href="'/articles?page=' + ${articlesData.getTotalPage()}" class="layui-laypage-last" title="尾页" th:text="${articlesData.getTotalPage()}"></a>
                            </i>
                        </i>
                        <a th:href="'/articles?page=' + ${articlesData.getCurrentPage()+1}" th:class="'layui-laypage-next'+ ${articlesData.isLast()?' layui-disabled':''}">下一页</a>
                    </i>
                </div>
            </div>
            <div class="back-top" style="display: none">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-Up"></use>
                </svg>
            </div>
        </el-main>
    </div>
    <footer class="clearfix">
        <br><br><br>
        <div class="copyright"><p><a href="http://blog.jmal.top">Copyright © 2020 journey magical AL</a></p></div>
    </footer>
</div>
<script src="/articles/js/jquery-3.5.1.min.js"></script>
<script src="//at.alicdn.com/t/font_2024484_afbeg29hegb.js"></script>
<script src="/articles/js/common.js"></script>
<script th:inline="javascript">
    $(function(){
        if(window.innerWidth <= 768){
            $(".rainbow-page").hide()
        }

        $(".back-top").click(function(){
            $('html, body').animate({
                scrollTop: 0
            }, 400)
        });

        let showBackTop = function () {
            if(document.documentElement.scrollTop > 300){
                $('.back-top').fadeIn(500)
            } else {
                $('.back-top').fadeOut(500)
            }
        }
        showBackTop()

        function fn (direction) {
            // 判断是上滑显示,下滑隐藏
            const top = $('#top')
            const toogleNav = $('#toggle-nav')

            const body = document.getElementById("body")

            if(direction === 'down'){
                top.removeClass('animateIn')
                top.addClass('animateOut')
                toogleNav.removeClass('animateRight')
                toogleNav.addClass('animateLeft')
                if(body.style.transform.length > 0) {
                    document.getElementById("sidebar-nav").style.transform = ''
                    body.style.transform = ''
                    document.getElementById("toggle-nav").style.transform = ''
                }
            }
            if(direction === 'up'){
                top.removeClass('animateOut')
                top.addClass('animateIn')
                toogleNav.removeClass('animateLeft')
                toogleNav.addClass('animateRight')
            }
        }

        let beforeScrollTop = document.documentElement.scrollTop;
        $(window).on("scroll",function (event) {
            showBackTop()
            // 判断是上滑还是下滑
            let afterScrollTop = document.documentElement.scrollTop
            let delta = afterScrollTop - beforeScrollTop
            beforeScrollTop = afterScrollTop
            let scrollTop = $(this).scrollTop()
            let scrollHeight = $(document).height()
            let windowHeight = $(this).height()
            if (scrollTop + windowHeight > scrollHeight - 10) {  //滚动到底部执行事件
                fn('bottom')
                return
            }
            if (afterScrollTop < 10 || afterScrollTop > $(document.body).height - 10) {
                fn('up')
            } else {
                if (Math.abs(delta) < 10) {
                    return false
                }
                fn(delta > 0 ? "down" : "up")
            }
        })
        let main = $('#main_body')
        /***
         * 改变返回顶部按钮位置
         */
        function setBackTopPosition(){
            if(window.innerWidth > 1000){
                $('.back-top').css('left', main.width() + main.offset().left + 25)
            } else if (window.innerWidth > 768 && window.innerWidth < 1000){
                $('.back-top').css('left', main.width() + main.offset().left - 30)
            } else {
                $('.back-top').css('left', '')
            }
        }
        setBackTopPosition()
        $(window).on("resize", function (){
            setBackTopPosition()
        })
    });
</script>
</body>
</html>

