<!DOCTYPE HTML>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="/usr/themes/Mirages/favicon.ico" type="image/x-icon" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <title>jmal's blog</title>
    <meta property="og:title" content="jmal's blog" />
    <meta property="og:site_name" content="jmal's blog" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="阿伦的奇幻之旅" />
    <meta property="og:url" content="https://www.jmal.top" />
    <meta property="og:image" content="https://images.unsplash.com/photo-1587387119725-9d6bac0f22fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80?imageView2/2/w/640/q/75" />
    <meta name="description" content="阿伦的奇幻之旅" />
    <meta name="keywords" content="typecho,php,blog" />
    <meta name="template" content="Mirages" />
    <link rel="pingback" href="https://www.jmal.top/action/xmlrpc" />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.jmal.top/action/xmlrpc?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.jmal.top/action/xmlrpc?wlw" />
    <link rel="alternate" type="application/rss+xml" title="jmal's blog &raquo; RSS 2.0" href="https://www.jmal.top/feed/" />
    <link rel="alternate" type="application/rdf+xml" title="jmal's blog &raquo; RSS 1.0" href="https://www.jmal.top/feed/rss/" />
    <link rel="alternate" type="application/atom+xml" title="jmal's blog &raquo; ATOM 1.0" href="https://www.jmal.top/feed/atom/" />
    <link rel="stylesheet" type="text/css" href="/articles/fontawesome-free-5.11.2-web/css/all.css">
    <link rel="stylesheet" type="text/css" href="/articles/layui/css/layui.css">
    <!-- ⚠️生产环境请指定版本号，如 https://cdn.jsdelivr.net/npm/vditor@x.x.x/dist... -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vditor/dist/index.css" />
    <link rel="stylesheet" type="text/css" href="/articles/css/index.css">
    <link rel="stylesheet" type="text/css" href="/articles/css/article.css">
    <link rel="stylesheet" type="text/css" href="/articles/css/article-top.css">
    <link rel="stylesheet" type="text/css" href="/articles/css/article-header.css">
    <link rel="stylesheet" type="text/css" href="/articles/css/article-body.css">
    <link rel="stylesheet" type="text/css" href="/articles/css/article-footer.css">
    <link rel="stylesheet" type="text/css" href="/articles/css/markdown.css">
</head>
<body class="theme-white color-default card  desktop macOS macOS-ge-10-11 macOS-ge-10-12 chrome not-safari open use-navbar">
<!--[if lt IE 9]>
<div class="browse-happy" role="dialog">当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/">升级你的浏览器</a>.</div>
<![endif]-->

<div id="body">
    <div id="top" class="animateIn">
        <div th:include="component/article-top.html"></div>
        <div class="scrollbar gradient-bg-rev" style="width: 0;"></div>
    </div>

    <div class="article-header">
        <div class="article-background" th:style="${markdown.cover !=null ? 'background-image: url('+markdown.cover+')':''}"></div>
        <div class="inner">
            <div class="blog-title"><span id="article-title"></span><span class="typed-cursor">_</span></div>
            <div class="blog-description font-mono">
                <a itemprop="name" href="https://www.jmal.top/author/1/" rel="author" th:text="${markdown.username}"></a>
                <span th:text="'· '+${markdown.uploadDate}"></span>
            </div>
        </div>
    </div>
    <div class="body-wrapper">
        <el-main id="main_body" class="l_main article_l_main">
            <div id="preview" class="article-body"></div>
        </el-main>
        <div class="right-bj" style="display: none">
            <div id="toc-affix">
                <div class="slimScrollDiv">
                    <div class="right-menu">
                        <div class="toc-content">
                            <header class="toc-header">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-service-directory"></use>
                                </svg>
                                <span>目录</span>
                            </header>
                        </div>
                        <div class="j-titleList titleList">
                            <div class="j-bj" style="height: 30px; top: 0;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="back-top" style="display: none">
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-Up"></use>
        </svg>
    </div>
    <footer class="clearfix">
        <br><br><br>
        <div class="copyright"><p><a href="http://blog.jmal.top">Copyright © 2020 journey magical AL</a></p></div>
    </footer>
</div>
<script src="/articles/js/jquery-3.5.1.min.js"></script>
<script src="/articles/layui/layui.js"></script>
<script src="//at.alicdn.com/t/font_2024484_t0l48d7lnj.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vditor/dist/index.min.js" defer></script>
<script th:inline="javascript">
    $(function(){
        // 目录
        let contents = []

        const markdown = [[${markdown}]]
        const filename = markdown.name
        let divTyping = document.getElementById('article-title')
        let i = 0,timer = 0,str = filename.substring(0,filename.length - markdown.suffix.length-1)
        function typing () {
            if (i <= str.length) {
                divTyping.innerHTML = str.slice(0, i++)
                timer = setTimeout(typing, 100)
            } else {
                // 结束打字
                clearTimeout(timer)
            }
        }
        typing()
        Vditor.preview(document.getElementById('preview'),
            markdown.contentText, {
                speech: {
                    enable: true,
                },
                hljs: {
                    lineNumber: true
                },
                after() {
                    renderContents()
                }
            })

        function titleOneItem(index, jqel, tagName){
            const h = tagName.substring(1,2)
            if(index === 0){
                return '<li first class="pl h-'+h+'"><a href="#'+jqel.attr('id')+'">'+jqel.text()+'</a></li>'
            }
            return '<li class="pl h-'+h+'"><a href="#'+jqel.attr('id')+'">'+jqel.text()+'</a></li>'
        }
        function addUpdateTime(){
            // DOM更新之后获取子元素
            // 在文章最前面添加更新时间
            let main = document.getElementById('preview')
            let p = document.createElement("p")
            p.className = "note-update-date"
            p.innerText = `本文最后更新于：${[[${markdown.updateDate}]]}`
            main.insertBefore(p , main.childNodes[0])
        }
        // 渲染目录
        function renderContents(){
            // 添加更新时间
            addUpdateTime()
            let headers = $('.article-body').find(":header")
            if(!headers || headers.length < 1){
                return
            }
            headers.each(function (index) {
                contents.push(titleOneItem(index, $(this), $(this).prop("tagName")))
            })
            $('.j-titleList').prepend(contents)
            // 获取id数组
            for (let i = 0; i < contents.length; i++) {
                contents[i] = contents[i].replace(/.*?#(.*)".*/g, '$1')
            }
            // 去掉id为空的条目
            contents = contents.filter(content => content && content.length > 0)
            if(contents.length > 0){
                $('.right-bj').show()
                $("#main_body").attr("content","show")
                renderContentsAfter(contents)
            } else {
                $("#main_body").attr("content","hide")
            }
        }

        function fn (direction) {
            // 判断是上滑显示,下滑隐藏
            const top = $('#top')
            const toogleNav = $('#toggle-nav')

            const body = document.getElementById("body")

            if(direction === 'down'){
                top.removeClass('animateIn')
                top.addClass('animateOut')
                toogleNav.removeClass('animateRight')
                toogleNav.addClass('animateLeft')
                if(body.style.transform.length > 0) {
                    document.getElementById("sidebar-nav").style.transform = ''
                    body.style.transform = ''
                    document.getElementById("toggle-nav").style.transform = ''
                }
            }
            if(direction === 'up'){
                top.removeClass('animateOut')
                top.addClass('animateIn')
                toogleNav.removeClass('animateLeft')
                toogleNav.addClass('animateRight')
            }
        }

        // 渲染目录后的操作
        function renderContentsAfter(contents){
            let beforeScrollTop = document.documentElement.scrollTop;
            let $root = $('html, body')
            $('.j-titleList li').on("click", function () {
                let top = 75
                if (typeof($(this).attr("first"))!=="undefined") {
                    // 点击第一个目录
                    top = 168
                }
                let herf = $.attr(this.querySelector("a"), 'href')
                $root.animate({
                    scrollTop: $(herf).offset().top - top
                }, 400)
                return false
            })
            // 滚动到响应的锚点
            setTimeout(function (){
                if(window.location.hash){
                    $root.animate({
                        scrollTop: $(decodeURIComponent(window.location.hash)).offset().top - 75
                    }, 0)
                }
            },100)
        }

        // 回到顶部
        $(".back-top").click(function(){
            $('html, body').animate({
                scrollTop: 0
            }, 400)
        });
        function showBackTop() {
            if(document.documentElement.scrollTop > 300){
                $('.back-top').fadeIn(500)
            } else {
                $('.back-top').fadeOut(500)
            }
        }
        showBackTop()

        // 设置目录的最大高度
        function setOctMaxHeight(){
            document.body.querySelector('.right-bj .slimScrollDiv>.right-menu').style.maxHeight = document.documentElement.clientHeight - 70 + 'px'
        }
        setOctMaxHeight()
        $(window).on("resize", function (){
            setOctMaxHeight()
        })

        let beforeScrollTop = document.documentElement.scrollTop;
        let scrollAfterTimer = null
        let rightBj = $('.right-bj')
        $(window).on('scroll', function (){
            // 判断是上滑还是下滑
            let afterScrollTop = document.documentElement.scrollTop
            let delta = afterScrollTop - beforeScrollTop
            beforeScrollTop = afterScrollTop
            let scrollTop = $(this).scrollTop()
            let scrollHeight = $(document).height()
            let windowHeight = $(this).height()
            let progress = ((afterScrollTop + document.documentElement.clientHeight)/scrollHeight) * 100
            // 改变top bar 进度条
            document.querySelector(".scrollbar").style.width = progress +'%'

            if (scrollTop + windowHeight > scrollHeight - 10) {  //滚动到底部执行事件
                fn('bottom')
                return
            }
            if (afterScrollTop < 10 || afterScrollTop > $(document.body).height - 10) {
                fn('up')
            } else {
                if (Math.abs(delta) < 10) {
                    return false
                }
                fn(delta > 0 ? "down" : "up")
            }
            // 显示回到顶部按钮
            showBackTop()

            // 展示目录
            if(contents.length > 0){
                if(rightBj.offset().top - $(window).scrollTop() <=0 ){
                    $('#toc-affix').addClass('affix')
                } else {
                    $('#toc-affix').removeClass('affix')
                }
                for (let i = 0; i < contents.length; i++) {
                    if ($(window).scrollTop() > $('#' + contents[i]).offset().top - 100 || $(this).scrollTop() + $(this).height() == $(document).height()) {
                        $('.j-titleList').find('li').eq(i).addClass('active').siblings('li').removeClass('active');
                        $('.j-bj').css('top', i * 34)
                    }
                }
                if(scrollAfterTimer != null){
                    clearTimeout(scrollAfterTimer)
                }
                scrollAfterTimer = setTimeout(function (){
                    const hash = $('.j-titleList').find('li.active').find('a').attr('href')
                    if(hash){
                        window.history.replaceState(null, null, document.location.pathname + hash);
                    }
                }, 50)
            }
        })
    });
</script>
</body>
</html>

