<!DOCTYPE HTML>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="/usr/themes/Mirages/favicon.ico" type="image/x-icon" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <title>jmal's blog</title>
    <meta property="og:title" content="jmal's blog" />
    <meta property="og:site_name" content="jmal's blog" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="阿伦的奇幻之旅" />
    <meta property="og:url" content="https://www.jmal.top" />
    <meta property="og:image" content="https://images.unsplash.com/photo-1587387119725-9d6bac0f22fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80?imageView2/2/w/640/q/75" />
    <meta name="description" content="阿伦的奇幻之旅" />
    <meta name="keywords" content="typecho,php,blog" />
    <meta name="template" content="Mirages" />
    <link rel="pingback" href="https://www.jmal.top/action/xmlrpc" />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.jmal.top/action/xmlrpc?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.jmal.top/action/xmlrpc?wlw" />
    <link rel="alternate" type="application/rss+xml" title="jmal's blog &raquo; RSS 2.0" href="https://www.jmal.top/feed/" />
    <link rel="alternate" type="application/rdf+xml" title="jmal's blog &raquo; RSS 1.0" href="https://www.jmal.top/feed/rss/" />
    <link rel="alternate" type="application/atom+xml" title="jmal's blog &raquo; ATOM 1.0" href="https://www.jmal.top/feed/atom/" />
    <link rel="stylesheet" type="text/css" href="/articles/fontawesome-free-5.11.2-web/css/all.css">
    <link rel="stylesheet" type="text/css" href="/articles/layui/css/layui.css">
    <!-- ⚠️生产环境请指定版本号，如 https://cdn.jsdelivr.net/npm/vditor@x.x.x/dist... -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vditor/dist/index.css" />
    <link rel="stylesheet" type="text/css" href="/articles/css/index.css">
    <link rel="stylesheet" type="text/css" href="/articles/css/article.css">
    <link rel="stylesheet" type="text/css" href="/articles/css/article-top.css">
    <link rel="stylesheet" type="text/css" href="/articles/css/article-header.css">
    <link rel="stylesheet" type="text/css" href="/articles/css/article-body.css">
    <link rel="stylesheet" type="text/css" href="/articles/css/article-footer.css">
    <link rel="stylesheet" type="text/css" href="/articles/css/markdown.css">
    <link rel="stylesheet" type="text/css" href="/articles/css/mask.css">
</head>
<body class="theme-white color-default card  desktop macOS macOS-ge-10-11 macOS-ge-10-12 chrome not-safari open use-navbar">
<!--[if lt IE 9]>
<div class="browse-happy" role="dialog">当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/">升级你的浏览器</a>.</div>
<![endif]-->

<div th:include="component/sidebar.html"></div>
<div id="body">
    <div id="wrap-mask"><div class="boxLoading"></div></div>
    <div id="top" class="animateIn">
        <div th:include="component/article-top.html"></div>
        <div class="scrollbar gradient-bg-rev" style="width: 0;"></div>
    </div>

    <div class="article-header">
        <div class="article-background" th:style="${markdown.cover !=null ? 'background-image: url('+markdown.cover+')':''}"></div>
        <div class="inner">
            <div class="blog-title"><span id="article-title"></span><span class="typed-cursor">_</span></div>
            <div class="blog-description font-mono">
                <a itemprop="name" href="https://www.jmal.top/author/1/" rel="author" th:text="${markdown.username}"></a>
                <span th:text="'· '+${markdown.uploadTime()}"></span>
            </div>
        </div>
    </div>
    <div class="body-wrapper">
        <el-main id="main_body" class="l_main article_l_main">
            <div class="source" style="display:none;" th:utext="${markdown.contentText}"></div>
            <div id="preview" class="article-body">
            </div>
        </el-main>
        <div class="right-bj" style="display: none">
            <div id="toc-affix">
                <div class="slimScrollDiv">
                    <div class="toc-content">
                        <header class="toc-header">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-service-directory"></use>
                            </svg>
                            <span>目录</span>
                        </header>
                    </div>
                    <div class="right-menu">
                        <div class="j-titleList titleList">
                            <div class="j-bj"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="back-top" style="display: none">
                <svg class="icon">
                    <use xlink:href="#icon-Up"></use>
                </svg>
            </div>
        </div>
    </div>
    <div class="show-content">
        <svg class="icon">
            <use xlink:href="#icon-service-directory"></use>
        </svg>
    </div>
    <footer class="clearfix">
        <br><br><br>
        <div class="copyright"><p><a href="http://blog.jmal.top">Copyright © 2020 journey magical AL</a></p></div>
    </footer>
</div>
<script src="/articles/js/jquery-3.5.1.min.js"></script>
<script src="/articles/layui/layui.js"></script>
<script src="//at.alicdn.com/t/font_2024484_t0l48d7lnj.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vditor@3.6.3/dist/index.min.js" defer></script>
<script th:inline="javascript">
    $(function(){
        /***
         * 初始化markdown解析器
         */
        Vditor.preview(document.getElementById('preview'),
            [[${markdown.contentText}]], {
                hljs: {
                    // 是否显示行号
                    lineNumber: window.innerWidth > 768,
                },
                theme: {
                },
                after() {
                    // 添加更新时间
                    addUpdateTime()
                    // 渲染目录
                    renderContents()
                    setTimeout(function (){
                        // 隐藏加载动画
                        $('#wrap-mask').hide()
                    }, 0)
                    justLoading = true
                    setTimeout(function (){
                        justLoading = false
                        keepTocVisible()
                    }, 800)
                    contentAfter()
                }
            })

        // 是否在点击目录
        let clickingToc = false, justLoading = false
        // 目录最大高度
        let tocMaxHeight = 0
        // 页面滚动位置
        let beforeScrollTop = document.documentElement.scrollTop;
        let scrollAfterTimer = null
        let rightBj = $('.right-bj')
        // 目录
        let contents = []

        /***
         * 动态打字效果
         */
        const filename = [[${markdown.name}]]
        let divTyping = document.getElementById('article-title')
        let i = 0,timer = 0,str = filename.substring(0,filename.length - [[${markdown.suffix}]].length-1)
        function typing () {
            if (i <= str.length) {
                divTyping.innerHTML = str.slice(0, i++)
                timer = setTimeout(typing, 100)
            } else {
                clearTimeout(timer)
            }
        }
        typing()

        /***
         * 创建目录项
         * 根据最大号标题整体向前移, 例如: 最大号标题为h3,则h3为变为h1,h4变为h2
         */
        function titleOneItem(index, $this, tagName, maxTitleNumber){
            const h = tagName.substring(1,2) - maxTitleNumber
            if(index === 0){
                return '<li first class="pl h-'+h+'"><a href="#'+$this.attr('id')+'">'+$this.text()+'</a></li>'
            }
            return '<li class="pl h-'+h+'"><a href="#'+$this.attr('id')+'">'+$this.text()+'</a></li>'
        }

        /***
         * 在文章最前面添加更新时间
         */
        function addUpdateTime(){
            let preview = document.getElementById('preview')
            let p = document.createElement("p")
            p.className = "note-update-date"
            p.innerText = `本文最后更新于：${[[${markdown.updateTime()}]]}`
            preview.insertBefore(p , preview.childNodes[0])
        }

        /***
         * 渲染目录
         */
        function renderContents(){
            let headers = $('.article-body').find(":header")
            if(!headers || headers.length < 1){
                return
            }
            // 找出最大号的标题, 默认最小为6号标题(h6)
            let maxTitleNumber = 6
            headers.each(function () {
                const h = $(this).prop("tagName").substring(1,2)
                if(maxTitleNumber > h){
                    maxTitleNumber = h
                }
            })
            maxTitleNumber--
            headers.each(function (index) {
                contents.push(titleOneItem(index, $(this), $(this).prop("tagName"), maxTitleNumber))
            })
            $('.j-titleList').prepend(contents)
            // 获取id数组
            for (let i = 0; i < contents.length; i++) {
                contents[i] = contents[i].replace(/.*?#(.*)".*/g, '$1')
            }
            // 去掉id为空的条目
            contents = contents.filter(content => content && content.length > 0)
            if(contents.length > 0){
                rightBj.show()
                $("#main_body").attr("content","show")
                renderContentsAfter(contents)
            } else {
                $("#main_body").attr("content","hide")
            }
        }

        /***
         * 判断上滑还是下滑
         */
        function checkDirection($this){
            let afterScrollTop = document.documentElement.scrollTop
            let delta = afterScrollTop - beforeScrollTop
            beforeScrollTop = afterScrollTop
            let scrollTop = $this.scrollTop()
            let windowHeight = $this.height()
            // //滚动到底部
            if (scrollTop + windowHeight > $(document).height() - 10) {
                afterDirection('bottom')
                return
            }
            if (afterScrollTop < 10 || afterScrollTop > $(document.body).height - 10) {
                afterDirection('up')
            } else {
                if (Math.abs(delta) < 10) {
                    return false
                }
                afterDirection(delta > 0 ? "down" : "up")
            }
        }

        /***
         * 上滑或下滑后执行的操作
         */
        function afterDirection (direction) {
            // 判断是上滑显示,下滑隐藏
            const top = $('#top')
            const toggleNav = $('#toggle-nav')
            const body = document.getElementById("body")
            if(direction === 'down'){
                top.removeClass('animateIn')
                top.addClass('animateOut')
                toggleNav.removeClass('animateRight')
                toggleNav.addClass('animateLeft')
                if(body.style.transform.length > 0) {
                    document.getElementById("sidebar-nav").style.transform = ''
                    body.style.transform = ''
                    document.getElementById("toggle-nav").style.transform = ''
                }
            }
            if(direction === 'up'){
                top.removeClass('animateOut')
                top.addClass('animateIn')
                toggleNav.removeClass('animateLeft')
                toggleNav.addClass('animateRight')
            }
        }

        /***
         * 渲染目录后的操作
         */
        function renderContentsAfter(){
            let $root = $('html, body')
            $('.j-titleList li').on("click", function () {
                clickingToc = true
                let top = 75
                if (typeof($(this).attr("first"))!=="undefined") {
                    // 点击第一个目录
                    top = 168
                }
                let href = $.attr(this.querySelector("a"), 'href')
                $root.animate({
                    scrollTop: $(href).offset().top - top
                }, 400)
                setTimeout(function (){
                    clickingToc = false
                }, 450)
                return false
            })
            // 滚动到响应的锚点
            setTimeout(function (){
                if(window.location.hash){
                    $root.animate({
                        scrollTop: $(decodeURIComponent(window.location.hash)).offset().top - 75
                    }, 0)
                }
            },100)
        }

        /***
         * 显示返回顶部按钮
         */
        function showBackTop() {
            if(document.documentElement.scrollTop > 300){
                $('.back-top').fadeIn(500)
            } else {
                $('.back-top').fadeOut(500)
            }
        }
        showBackTop()

        /***
         * 设置目录的最大高度
         */
        function setTocMaxHeight(){
            tocMaxHeight = document.documentElement.clientHeight - 180
            document.body.querySelector('.right-bj .slimScrollDiv>.right-menu').style.maxHeight = tocMaxHeight + 'px'
        }
        setTocMaxHeight()

        /***
         * 目录跟随滚动
         */
        function followScrollToc(){
            if(contents.length < 1){
                return
            }
            if(rightBj.offset().top - $(window).scrollTop() <=0 ){
                $('#toc-affix').addClass('affix')
            } else {
                $('#toc-affix').removeClass('affix')
            }
            const tocAction = $('.j-bj')
            for (let i = 0; i < contents.length; i++) {
                if ($(window).scrollTop() > $('#' + contents[i]).offset().top - 100 || $(this).scrollTop() + $(this).height() === $(document).height()) {
                    $('.j-titleList').find('li').eq(i).addClass('active').siblings('li').removeClass('active');
                    tocAction.css('top', i * 34)
                }
            }
            if(scrollAfterTimer != null){
                clearTimeout(scrollAfterTimer)
            }
            scrollAfterTimer = setTimeout(function (){
                const hash = $('.j-titleList').find('li.active').find('a').attr('href')
                if (hash) {
                    window.history.replaceState(null, null, document.location.pathname + hash);
                }
                keepTocVisible()
            }, 150)
        }

        // 保持目录当前相在可见范围内
        function keepTocVisible() {
            if(clickingToc || justLoading){
                return
            }
            const tocAction = $('.j-bj')
            const tocScroll = $('.slimScrollDiv')
            const tocScrollTop = tocScroll.scrollTop()
            const tocHeaderTop = $('.toc-header').offset().top - $(window).scrollTop()
            if (tocHeaderTop > 70) {
                // 隐藏返回顶部按钮
                $('.back-top').fadeOut(500)
            }
            const tocActionTop = tocAction.offset().top - $(window).scrollTop() - tocHeaderTop - 41
            if (tocActionTop > (tocMaxHeight - 40)) {
                tocScroll.animate({
                    scrollTop: tocScrollTop + (tocActionTop - tocMaxHeight) + 160
                }, 300)
            }
            if (tocActionTop < 40) {
                let top = Math.abs(tocActionTop) + 160
                tocScroll.animate({
                    scrollTop: tocScrollTop - top
                }, 300)
            }
        }

        /***
         * 改变top bar 进度条
         */
        function changeTopBar(){
            let scrollHeight = $(document).height() - window.innerHeight
            let progress = ((document.documentElement.scrollTop)/scrollHeight) * 100
            document.querySelector(".scrollbar").style.width = progress +'%'
        }

        function contentAfter(){
            $(window).on('scroll', function (){
                changeTopBar()
                // 判断是上滑还是下滑
                checkDirection($(this))
                // 显示回到顶部按钮
                showBackTop()
                // 目录跟随滚动
                followScrollToc()
            })

            const slimScrollDiv = $('.slimScrollDiv')
            let beforeTocScrollTop = slimScrollDiv.scrollTop()
            // 当目录滚动到达顶部/底部时，防止父元素滚动
            slimScrollDiv.on('DOMMouseScroll mousewheel touchmove', function(ev) {
                let afterScrollTop = slimScrollDiv.scrollTop()
                let delta1 = afterScrollTop - beforeScrollTop
                console.log(-delta1 * 3 , ev.originalEvent.wheelDelta)
                beforeScrollTop = afterScrollTop
                let scrollTop = this.scrollTop,
                    scrollHeight = this.scrollHeight,
                    height = $(this).innerHeight(),
                    delta = ev.originalEvent.wheelDelta,
                    up = delta > 0;
                let prevent = function() {
                    ev.stopPropagation();
                    ev.preventDefault();
                    ev.returnValue = false;
                    return false;
                }
                if (!up && -delta > scrollHeight - height - scrollTop) {
                    // 向下滚动
                    $(this).scrollTop(scrollHeight);
                    return prevent();
                } else if (up && delta > scrollTop) {
                    // 向上滚动.
                    $(this).scrollTop(0);
                    return prevent();
                }
            });

            $(window).on("resize", function (){
                setTocMaxHeight()
            })

            // 点击回到顶部
            $(".back-top").click(function(){
                $('html, body').animate({
                    scrollTop: 0
                }, 400)
            });

            // 点击显示目录
            $(".show-content").click(function (){
                if(slimScrollDiv.is(':hidden')){
                    slimScrollDiv.show()
                } else {
                    slimScrollDiv.hide()
                }
                // let translateX = slimScrollDiv.css("transform")
                // const reg = '\\((.+?)\\)'
                // translateX = parseFloat(translateX.match(reg)[1].split(',')[4])
                // if(translateX > 150){
                //     slimScrollDiv.css("transform", "translateX(0px)")
                // }
                // if(translateX < 150){
                //     slimScrollDiv.css("transform", "translateX(250px)")
                // }
            })
        }
    });
</script>
</body>
</html>

