<!DOCTYPE HTML>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="/usr/themes/Mirages/favicon.ico" type="image/x-icon" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <title>jmal's blog</title>
    <meta property="og:title" content="分类" />
    <meta property="og:site_name" content="jmal's blog" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="阿伦的奇幻之旅" />
    <meta property="og:url" content="https://www.jmal.top" />
    <meta property="og:image" content="https://images.unsplash.com/photo-1587387119725-9d6bac0f22fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80?imageView2/2/w/640/q/75" />
    <meta name="description" content="阿伦的奇幻之旅" />
    <meta name="keywords" content="typecho,php,blog" />
    <meta name="template" content="Mirages" />
    <link rel="pingback" href="https://www.jmal.top/action/xmlrpc" />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.jmal.top/action/xmlrpc?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.jmal.top/action/xmlrpc?wlw" />
    <link rel="alternate" type="application/rss+xml" title="jmal's blog &raquo; RSS 2.0" href="https://www.jmal.top/feed/" />
    <link rel="alternate" type="application/rdf+xml" title="jmal's blog &raquo; RSS 1.0" href="https://www.jmal.top/feed/rss/" />
    <link rel="alternate" type="application/atom+xml" title="jmal's blog &raquo; ATOM 1.0" href="https://www.jmal.top/feed/atom/" />
    <link rel="stylesheet" type="text/css" href="/articles/fontawesome-free-5.11.2-web/css/all.css">
    <link rel="stylesheet" type="text/css" href="/articles/layui/css/layui.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vditor@3.6.3/dist/index.css" />
    <link id="theme-css-dark" th:if="${darkTheme}" rel="stylesheet" type="text/css" href="/articles/css/dark/index.css">
    <link rel="stylesheet" type="text/css" href="/articles/css/categories.css">
</head>
<body class="theme-white color-default card  desktop macOS macOS-ge-10-11 macOS-ge-10-12 chrome not-safari open use-navbar">
<!--[if lt IE 9]>
<div class="browse-happy" role="dialog">当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/">升级你的浏览器</a>.</div>
<![endif]-->

<div th:include="component/sidebar.html"></div>
<div id="body">
    <!--    <div id="wrap-mask"><div class="boxLoading"></div></div>-->
    <div id="top" class="animateIn">
        <div th:include="component/article-top.html"></div>
        <div class="scrollbar gradient-bg-rev" style="width: 0;"></div>
    </div>

    <div class="article-header">
        <div class="article-background" th:style="${setting.categoryBackground !=null ? 'background-image: url('+setting.categoryBackground+')':''}"></div>
        <div class="inner">
            <div class="blog-title"><span id="article-title">分类</span><span class="typed-cursor">_</span></div>
        </div>
    </div>
    <div class="body-wrapper">
        <el-main id="main_body" class="l_main article_l_main">
            <div class="content article-body">
                <body>
                <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                <div id="main" style="width: 600px;height:400px;"></div>
                </body>
            </div>
        </el-main>
    </div>
    <footer class="clearfix">
        <br><br><br>
        <div class="copyright"><p><a href="http://blog.jmal.top">Copyright © 2020 journey magical AL</a></p></div>
    </footer>
</div>
<script src="/articles/js/jquery-3.5.1.min.js"></script>
<script src="/articles/layui/layui.js"></script>
<script src="//at.alicdn.com/t/font_2024484_afbeg29hegb.js"></script>
<script src="/articles/js/echarts.js"></script>
<script src="/articles/js/common.js"></script>
<script th:inline="javascript">
    $(function() {
        var data = [
            {
                "id": "5fa28e355109e74b06c1a36a",
                "userId": "5e2d6675aab5fa4b7fecb59b",
                "name": "code",
                "thumbnailName": "code",
                "isDefault": true,
                "articleNum": 5,
                "value": 9,
                "children": [
                    {
                        "id": "5fa28e505109e74b06c1a36c",
                        "userId": "5e2d6675aab5fa4b7fecb59b",
                        "name": "java",
                        "thumbnailName": "java",
                        "parentCategoryId": "5fa28e355109e74b06c1a36a",
                        "articleNum": 1,
                        "value": 4,
                        "children": [
                            {
                                "id": "5fae9f539b9840278cb4a47f",
                                "userId": "5e2d6675aab5fa4b7fecb59b",
                                "name": "1",
                                "thumbnailName": "1",
                                "parentCategoryId": "5fa28e505109e74b06c1a36c",
                                "articleNum": 2,
                                "value": 3,
                                "children": [
                                    {
                                        "id": "5fae9f5d9b9840278cb4a480",
                                        "userId": "5e2d6675aab5fa4b7fecb59b",
                                        "name": "2",
                                        "thumbnailName": "2",
                                        "parentCategoryId": "5fae9f539b9840278cb4a47f",
                                        "articleNum": 1,
                                        "value": 1
                                    }
                                ]
                            }
                        ]
                    }
                ]
            },
            {
                "id": "5fa28e405109e74b06c1a36b",
                "userId": "5e2d6675aab5fa4b7fecb59b",
                "name": "日常",
                "thumbnailName": "日常",
                "isDefault": false,
                "articleNum": 4,
                "value": 4
            }
        ];

        let body = document.querySelector(".article-body")
        let chart = document.getElementById("main")
        // 自适应高度
        let myChartContainer = function (){
            chart.style.width = body.clientWidth + 'px'
            chart.style.height = body.clientWidth + 'px'
        }
        myChartContainer()
        // 基于准备好的dom，初始化echarts实例
        let myChart = echarts.init(chart)
        option = {
            tooltip: {
                formatter(params){
                    const html = params.marker
                    return html + params.name + ' - ' + '文章数:' + params.data.articleNum
                }
            },
            visualMap: {
                type: 'continuous',
                min: 0,
                max: 10,
                inRange: {
                    color: ['#2D5F73', '#538EA6', '#F2D1B3', '#F2B8A2', '#F28C8C']
                }
            },
            series: {
                type: 'sunburst',
                data: data,
                radius: [0, '90%'],
                label: {
                    rotate: 'radial'
                }
            }
        };
        myChart.setOption(option)
        myChart.on('click', function (params) {
            console.log(params)
            window.location.href = `categories/${params.name}`
        });
        window.onresize=function(){
            myChartContainer()
            myChart.resize()
        }
    })
</script>
</body>
</html>

