<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${titleName}"></title>
    <div th:replace="component/head.html"></div>
</head>
<body>
<!--[if lt IE 9]>
<div class="browse-happy" role="dialog">当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/">升级你的浏览器</a>.</div>
<![endif]-->
<div th:include="component/sidebar.html"></div>
<div id="top" class="animateIn">
    <div th:include="component/article-top.html"></div>
</div>
<div th:if="${true}">
    <div th:include="index.html"></div>
</div>
<div th:if="${false}">
    <div >sadfsad</div>
</div>
<iframe th:replace="component/footer.html"></iframe>
<script src="/articles/js/jquery-3.5.1.min.js"></script>
<script src="/articles/js/common.js"></script>
<script th:inline="javascript">
    $(function(){

    });
</script>
</body>
</html>

