
<!DOCTYPE HTML>
<html class="no-js" >
<head>
    <link rel="shortcut icon" href="/usr/themes/Mirages/favicon.ico" type="image/x-icon" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <title>jmal's blog</title>
    <meta property="og:title" content="jmal's blog" />
    <meta property="og:site_name" content="jmal's blog" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="阿伦的奇幻之旅" />
    <meta property="og:url" content="https://www.jmal.top" />
    <meta property="og:image" content="https://images.unsplash.com/photo-1587387119725-9d6bac0f22fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80?imageView2/2/w/640/q/75" />
    <meta name="description" content="阿伦的奇幻之旅" />
    <meta name="keywords" content="typecho,php,blog" />
    <meta name="template" content="Mirages" />
    <link rel="pingback" href="https://www.jmal.top/action/xmlrpc" />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.jmal.top/action/xmlrpc?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.jmal.top/action/xmlrpc?wlw" />
    <link rel="alternate" type="application/rss+xml" title="jmal's blog &raquo; RSS 2.0" href="https://www.jmal.top/feed/" />
    <link rel="alternate" type="application/rdf+xml" title="jmal's blog &raquo; RSS 1.0" href="https://www.jmal.top/feed/rss/" />
    <link rel="alternate" type="application/atom+xml" title="jmal's blog &raquo; ATOM 1.0" href="https://www.jmal.top/feed/atom/" />
</head>
<body class="theme-white color-default card  desktop macOS macOS-ge-10-11 macOS-ge-10-12 chrome not-safari open use-navbar">
<!--[if lt IE 9]>
<div class="browse-happy" role="dialog">当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/">升级你的浏览器</a>.</div>
<![endif]-->
error

</body>
</html>

